<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audiobooks</title>
</head>
<body>
<h1>All Audiobooks:</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
    </tr>
    <tr th:each="Audiobooks: ${audiobookList}">
        <td th:text="${Audiobooks.bookid}"></td>
        <td th:text="${Audiobooks.author}"></td>
        <td th:text="${Audiobooks.title}"></td>
    </tr>
</table>
<a th:href="@{/}">Homepage</a>
</body>
</html>