<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h1>All Books:</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
    </tr>
    <tr th:each="Orders: ${orderList}">
        <td th:text="${Orders.orderid}"></td>
        <td th:text="${Orders.author}"></td>
        <td th:text="${Orders.title}"></td>
    </tr>
</table>
<a th:href="@{/}">Homepage</a>
</body>
</html>