<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${messageUser}"></h1>
<h1>Add Book:</h1>

<form th:action="@{/users}" th:object="${user}" method="post">
    <p><input type="text" th:field="*{firstname}" placeholder="city name" /></p>
    <p><input type="text" th:field="*{lastname}" placeholder="population" /></p>
    <p><input type="submit" value="Add City" /></p>
</form>

<h1>Edit Book:</h1>
<form th:action="@{/users/update}" th:object="${user}" method="get">
    <p><input type="number" th:field="*{libarycardnumber}" placeholder="bookid" /></p>
    <p><input type="text" th:field="*{firstname}" placeholder="author" /></p>
    <p><input type="text" th:field="*{lastname}" placeholder="title" /></p>
    <p><input type="submit" value="Edit City" /></p>
</form>

<h1>Delete Book:</h1>
<form th:action="@{/users/delete}" th:object="${user}" method="get">
    <p><input type="number" th:field="*{libarycardnumber}" placeholder="bookid" /></p>
    <p><input type="submit" value="Delete City" /></p>
</form>

<h1>Get Book:</h1>
<form th:action="@{/users}" th:object="${user}" method="get">
    <p><input type="number" th:field="*{libarycardnumber}" placeholder="bookid" /></p>
    <p><input type="submit" value="Get one" /></p>

</form>


<a th:href="@{/orders/all}">List all Books</a></body>
</html>